<include file="./Application/Common/View/pageheader.html" />
<div class="row">
    <style type="text/css">
    .theme ul li{
        list-style: none;
        float: left;
        padding-left: 20px;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 2px;
       
    }
    .ibox-title
    {
        height: 50px;
        border-bottom: 2px solid #ddd;
    }
    .title{
        float: left;
        margin-left: 10px;
        font-size: 14px;
        font-weight: bold;
    }
    .w1
    {
  
    }
    .w2
    {
        color: #5cc3ca; border-bottom: 2px solid #5cc3ca
    }
    </style>
    <div class="col-sm-12">
            <div class="ibox-title">
      
                        <div style="cursor:pointer "<if condition=" $id ==0 " >class="title w2"</if><if condition=" $id !=0 " >class="title"</if>>全部主题</div>
                        <div style="cursor:pointer " <if condition=" $id ==1 " >class="title w2"</if><if condition=" $id !=1 " >class="title"</if>>免费主题</div>
                        <div style="cursor:pointer " <if condition=" $id ==2 " >class="title w2"</if><if condition=" $id !=2 " >class="title"</if>>收费主题</div>
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="{:U('Malls/Apps/index')}"><strong>返回上一页</strong></a>
                    </li>
                </ol>
            
            </div>
            <div class="col-sm-12" style="padding-top:30px;background:#ffffff" height:100%">
                <foreach name="appshops" item="vo">
            <div class="col-sm-2"><a  href="{:U('Malls/Apps/editpage',array('id'=>$vo['id']))}"><img src="{$vo.thumburl}" style="width:100%;height:130px" /></a><span style="text-align:center;display:block">{$vo.name}</span><if condition=" $vo.isfree == 1"><span style="text-align:center;color:orange;display:block">免费</span></if><if condition=" $vo.isfree == 0"><span style="text-align:center;color:red;display:block">收费</span></if></div>
               </foreach>
               <div class="col-sm-2"><a href="{:U('Malls/Apps/addpage')}"><img src="/Public/res/template/img/apps.png" style="width:100%;height:130px" /></a></div>
            

            </div>
            
        </div>
</div>
<include file="./Application/Common/View/pagefooter.html" />

<script src="/Public/res/template/js/plugins/footable/footable.all.min.js"></script>

<script>
    $(document).ready(function() {

        $('.footable').footable({
            "paging": {
                "enabled": false
            }
        });

    });

</script>
<script type="text/javascript">
    $(function(){
    $(".title").click(function(){
        var res = $(this).html();
        if(res == '全部主题')
        {
          var id = 0;
        }
        if(res == '免费主题')
        {
          var id = 1;
        }if(res == '收费主题')
        {
          var id = 2;
        }
        var url = '{:U('Malls/Apps/index')}?id='+id;
        window.location = url;
    });
});
</script>
