<include file="./Application/Common/View/pageheader.html" />
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>申请App</h5>
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="{:U('AgentAdmin/App/index')}"><strong>返回上一页</strong></a>
                    </li>
                </ol>
            </div>
            <div class="ibox-content" style="text-align: center;height: 470px;padding-top:320px">
                <div style="margin-bottom: 10px">您可以为后台申请App,与用户保持更好的互动！</div>
                <a href="{:U('AgentAdmin/App/applypage')}"><input type="submit" class='btn btn-primary' value="申请App" /></a>
            </div>
        </div>
    </div>
</div>
<include file="./Application/Common/View/pagefooter.html" />
<script src="/Public/res/template/js/plugins/footable/footable.all.min.js"></script>
