<include file="./Application/Common/View/header.html" />
<link href="/Public/res/Btemplate/css/news-product.css" rel="stylesheet">
<div class="container-fluid product-banner-outer hidden-xs"> </div>

<div class="container" id="main-box">
  <div class="row">
      <ol class="breadcrumb hidden-xs">
        <li><a href="/"><span class="glyphicon glyphicon-home"></span>首 页</a></li>
        <li class="active"><a href="{:U('Product/Index')}">产品服务</a>
        </li>
      </ol>
  </div>
  <div class="row">
    <div class="col-md-12 center-block">
      <h1>产品服务</h1>
    </div>
  </div>
  <div class="row news-box">
  <div class="text-justify col-sm-9 col-xs-12">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="/Public/res/Btemplate/images/news_icon_03.png"
                 alt="媒体对象">
        </a>
        <div class="media-body">
            <h4 class="media-heading">WEB应用防火墙</h4>
            <div class="text-desc">
            	这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本些示例文本。这是一些示例文本些示例文本。这是一些。
            
            </div>
            <button class="btn">立即购买</button>
        </div>
	</div>
    <hr class="visible-xs-block">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="/Public/res/Btemplate/images/news_icon_03.png"
                 alt="媒体对象">
        </a>
        <div class="media-body visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">
            <h4 class="media-heading">WEB应用防火墙</h4>
            <div class="text-desc">
            	这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本些示例文本。这是一些示例文本些示例文本。这是一些。
            
            </div>
            <button class="btn">立即购买</button>
        </div>
	</div>
    <hr class="visible-xs-block">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="/Public/res/Btemplate/images/news_icon_03.png"
                 alt="媒体对象">
        </a>
        <div class="media-body visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">
            <h4 class="media-heading">WEB应用防火墙</h4>
            <div class="text-desc">
            	这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本些示例文本。这是一些示例文本些示例文本。这是一些。
            
            </div>
            <button class="btn">立即购买</button>
        </div>
	</div>
    <hr class="visible-xs-block">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="/Public/res/Btemplate/images/news_icon_03.png"
                 alt="媒体对象">
        </a>
        <div class="media-body visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">
            <h4 class="media-heading">WEB应用防火墙</h4>
            <div class="text-desc">
            	这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本。
            这是一些示例文本。这是一些示例文本些示例文本。这是一些示例文本些示例文本。这是一些。
            
            </div>
            <button class="btn">立即购买</button>
        </div>
	</div>
    
    <div class="row">
      <div class="col-xs-12 text-center col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10"><nav>
      <!-- Add class .pagination-lg for larger blocks or .pagination-sm for smaller blocks-->
      <ul class="pagination">
      	<li class="hidden-xs"><a href="#" aria-label="Previous"><span aria-hidden="true">首页</span></a></li>
        <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        <li class="hidden-xs"><a href="#" aria-label="Next"><span aria-hidden="true">尾页</span></a></li>
      </ul>
    </nav>
    </div>
    </div>
  </div>
  <div class="col-sm-3 text-justify col-xs-12 hidden-xs">
  	<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                推荐产品
            </h3>
        </div>
        <div class="panel-body">
            <div class="thumbnail">
            <img src="/Public/res/Btemplate/images/news_icon_03.png"
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>缩略图标签</h3>
            </div>
        </div>
        </div>
        <div class="panel-body">
            <div class="thumbnail">
            <img src="/Public/res/Btemplate/images/news_icon_03.png"
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>缩略图标签</h3>
            </div>
        </div>
        </div>
        <div class="panel-body">
            <div class="thumbnail">
            <img src="/Public/res/Btemplate/images/news_icon_03.png"
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>缩略图标签</h3>
            </div>
        </div>
        </div>
    </div>
  </div>
  </div>
</div>

<include file="./Application/Common/View/footer.html" />