<!--顶部工具条-->
<div class="out" id="topbarout">
  <div class="width1200"><span class="glyphicon glyphicon-home"></span> 你好，欢迎来到蜂巢联盟！<img src="/Public/res/Default/images/weichat1.png" width="23" height="19" alt="微信图标"/></div>
</div>
<!--顶部工具条end-->
<!--LOGO和全局导航-->
<div class="out" id="navout">
  <div style="margin:0 auto; width:1200px;"> <img title="LOGO" src="/Public/res/Default/images/logo.png" width="170" height="70" alt=""/>
    <div id="nav">
      <nav class="navbar">
        <div class="container-fluid"> 
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <div class="collapse navbar-collapse" id="defaultNavbar1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页</a></li>
                <li><a href="{:U('InvestMent/Index/index')}">我要投资</a></li>
                <li><a href="{:U('Secure/Index/index')}">安全投资</a></li>
                <li><a href="{:U('Explore/Index/index')}">探索</a></li>
                <li><a href="{:U('Help/Index/index')}">帮助中心</a></li>
                <li><a href="{:U('Me/Assets/index')}">个人中心</a></li>
                <li><a href="{:U('About/Index/index')}">关于我们</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse --> 
          </div>
        </div>
        <!-- /.container-fluid --> 
      </nav>
    </div>
  </div>
</div>
<!--LOGO和全局导航end-->
<!--banner图片-->
<div id="bannerout">
  <div class="width1200"><img style="display:block;" src="/Public/res/Default/images/banner.png" width="1200" height="351" alt=""/> </div>
</div>
<!--banner图片end-->