<!--顶部工具条-->
<div class="out" id="topbarout">
  <div class="width1200"><span class="glyphicon glyphicon-home"></span> 你好，欢迎来到蜂巢联盟！<img src="/Public/res/Default/images/weichat1.png" width="23" height="19" alt="微信图标"/></div>
</div>
<!--顶部工具条end--> 
<!--LOGO和全局导航-->

<div class="out" id="navout">
  <div style="margin:0 auto; width:1200px;"> <img title="LOGO" src="/Public/res/Default/images/logo.png" width="170" height="70" alt=""/>
    <div id="nav">
      <nav class="navbar">
        <div class="container-fluid"> 
          <div class="navbar-header">
            <div class="collapse navbar-collapse" id="defaultNavbar1">
              <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="{:U('InvestMent/Index/index')}">我要投资</a></li>
                <li><a href="{:U('Secure/Index/index')}">安全投资</a></li>
                <li><a href="{:U('Explore/Index/index')}">探索</a></li>
                <li><a href="{:U('Help/Index/index')}">帮助中心</a></li>
                <li class="active"><a href="{:U('Me/Assets/index')}">个人中心</a></li>
                <li><a href="{:U('About/Index/index')}">关于我们</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<!--LOGO和全局导航end-->

<!--个人中心 顶部信息-->
<div class="out" id="ucenterout">
  <div class="width1200">
    <div class="row clearfix">
      <div class="column col-sm-2"> <img src="/Public/res/Default/images/user/user_safety_03.gif" width="98" height="98" alt=""/> </div>
      <div class="column col-sm-6 center-colmn">
        <p>上午好，张三，喝杯茶！让精神抖起来</p>
        <hr>
        <p class="user-name-safe-pwd"> <span class="txt">登录名：13088030454&nbsp;&nbsp;&nbsp;&nbsp;</span> <a href="#"><img src="/Public/res/Default/images/user/user_safety_06.png" width="25" height="23" alt=""/></a> <a href="#"><img src="/Public/res/Default/images/user/user_safety_08.gif" width="25" height="23" alt=""/></a> <a href="#"><img src="/Public/res/Default/images/user/user_safety_10.gif" width="25" height="23" alt=""/></a> <span class="delive-line"></span> <span class="txt">安全等级：高 【提升】</span><span class="delive-line"></span> <span class="txt">修改密码</span></p>
      </div>
      <div class="column col-sm-4 last-colmn">
        <button class="btn btn-danger" type="button">我的卡券</button>
        <button class="btn btn-warning" type="button">充值</button>
        <button class="btn btn-success" type="button">提现</button>
      </div>
    </div>
  </div>
</div>
<!--个人中心 顶部信息end-->