<include file="./Application/Common/View/pageheader.html" />

<div class="row">
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>反馈</h5>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="{:U('AgentCrm/Feedback/index')}"><strong>返回上一页</strong></a>
                </li>
            </ol>
        </div>
        <div class="ibox-content">		
			<form class="form-horizontal col-sm-12" action="{:U('AgentCrm/Feedback/add')}" method="POST">
				<div class="col-sm-8">
	                <div class="form-group">
	                    <label class="col-sm-3 control-label">反馈内容</label>
	                    <div class="col-sm-7">
	                        <textarea name="content" rows="5" class='form-control' placeholder="此处填写反馈内容"></textarea>
	                    </div>
	                </div>				
				</div>
				<div class="clearfix"></div>
				<div class="from-group">
					<button class='btn btn-success'>提交</button>
				</div>
            </form>
            <div class="clearfix"></div>
		</div>
		

    </div>
</div>

<include file="./Application/Common/View/pagefooter.html" />