<include file="./Application/Common/View/pageheader.html" />
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>在线考试</h5>
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="{:U('Train/Testonline/index')}"><strong>返回上一页</strong></a>
                    </li>
                </ol>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal col-sm-5" action="{:U('Train/Testonline/index')}" method='get'>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">关键字：</label>
                        <div class="col-sm-7">
                            <input type="text" name='keyword' placeholder="请输入用户昵称" class="form-control row">
                        </div>
                        <div class="col-sm-2 row">
                            <button class="btn btn-sm btn-primary" type="submit">查询</button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="ibox-content">
                <div style="padding-bottom:5px; padding-top:5px; border-bottom:#ECECEC solid 1px; margin-bottom:10px">
                    <a href="{:U('Train/Testonline/index')}" class="btn btn-primary " ><i class="fa fa fa-plus"></i> 普通测试</a>
                    <a href="{:U('Train/Riskinvite/index')}" class="btn btn-primary " ><i class="fa fa fa-plus"></i> 风险测试</a>
                </div>
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-navigation=".nopagination" data-paging="false">
                    <thead>
                    <tr>
                        <th width="20%">用户ID</th>
                        <th width="50%">用户昵称</th>
                        <th width="20%">邀请状态</th>
                        <th width="10%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="questions" item="vo">
                        <tr>
                            <td><input type="checkbox" onclick="javascript:switchItemChecked()" value = "{$vo.id}" class="fc-item"> {$vo.id}</td>
                            <td>{$vo.username}</td>
                            <td>
                                <if condition=" $vo.invited eq 0 ">
                                    <span class="btn btn-xs btn-success">待邀约</span>
                                <else/>
                                    <span class="btn btn-xs btn-default">已邀约</span>
                                </if>
                            </td>
                            <td>
                                <if condition=" $vo.invited eq 0 ">
                                    <a  class='btn btn-xs btn-success' href="{:U('Train/Testonline/invite',array('id'=>$vo['id'],'agentid'=>$vo['agentid']))}" >邀约</a>
                                    <else/>
                                    <a  class='btn btn-xs btn-default'  >已冻结</a>
                                </if>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                    <tfoot>
                    <if condition="count($questions) gt 0">
                        <tr>
                            <td>
                                <button onclick="javascript:switchAllChecked();" class="btn btn-sm btn-primary">全选/取消</button>
                            </td>
                            <td>
                                <button onclick="javascript:batchInvite();" class="btn btn-sm btn-danger">批量邀约</button>
                            </td>
                            <td colspan="7">
                                <div class="pull-right">{$Pageshow}</div>
                            </td>
                        </tr>
                        <else/>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td colspan="7">
                                没有任何内容
                            </td>
                        </tr>
                    </if>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<include file="./Application/Common/View/pagefooter.html" />
<script src="/Public/res/template/js/plugins/footable/footable.all.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $('.footable').footable({
            "paging": {
                "enabled": false
            },
            "pageSize": {$pageSize},
        });

    });
    checkedList = [];
    status = '0'; 				// 全选状态：1:全部选定，0：全部选定或部分选定
    function switchAllChecked(){
        switch(status){
            case '0': allChecked();
                status = '1';
                break;

            case '1': unAllChecked();
                status = '0';
                break;

            default: break;
        }
    }
    function allChecked(){
        $("#fc-all").prop("checked", true);
        var list = $(".fc-item");
        list.prop("checked", true);
        list.each(function(n){
            var itemId = list.eq(n).val();
            checkedList.push(itemId);
        });
    }

    function unAllChecked(){
        $("#fc-all").prop("checked", false);
        var list = $(".fc-item");
        list.prop("checked", false)
        checkedList = Array();
    }

    function switchItemChecked(){
        checkedList = Array();
        if( $(this).attr("checked") != false ){
            $(this).prop("checked", false);
            unItemChecked();
        }else{
            $(this).prop("checked", true);
            itemChecked();
        }
    }

    function itemChecked(){
        var list = $(".fc-item:checked");
        list.each(function(n){
            var itemId = list.eq(n).val();
            checkedList.push(itemId);
        });
    }

    function unItemChecked(){
        $("#fc-all").prop("checked", false);
        var list = $(".fc-item:checked");
        list.each(function(n){
            var itemId = list.eq(n).val();
            checkedList.push(itemId);
        });
    }

    function checkIfNone(){
        if(checkedList.length <= 0){
            return {status:false , msg: "至少选择一项！"}
        }else{
            return {status:true}
        }
    }

    function refreshLoad(){
        location.reload();
    }

    function batchInvite(){
        var checkStatus = checkIfNone();
        if(checkStatus.status == false) {
            alert(checkStatus.msg);
            return;
        }
        $.post("{:U('Train/Testonline/batchInvite')}",{'request': checkedList}, function(data){
            if(data.status == '1') {
                alert(data.msg);
                refreshLoad();
            }else{
                alert(data.msg);
            }
        }, "json");
    }
</script>
