<include file="./Application/Common/View/pageheader.html" />

<div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="font-size: 16px">
        <form method="get" action="{:U('AgentTrain/Testonline/deal')}">
        <foreach name="res" item="vo" key="k">
            <span style="font-weight: bold">{$k+1}:</span>{$vo.question}
            <br><br>
            <?php
            $res = $vo['answerlist'];
            echo $vo['hidden'];
            echo $vo['hiddenkid'];
            foreach($res as  $v)
            {
                  print_r($v);
            }
            ?>
            <br><br><br><br>
        </foreach>
            <input type="submit" class='btn btn-lg btn-success' value="提交" />   </form>
    </div>
</div>
<include file="./Application/Common/View/pagefooter.html" />
<script src="/Public/res/template/js/plugins/footable/footable.all.min.js"></script>