<include file="./Application/Common/View/pageheader.html" />

<div class="row">
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>策略项详情</h5>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="{:U('Crm/Sales/index')}"><strong>返回上一页</strong></a>
                </li>
            </ol>
        </div>
        <div class="ibox-content">
			<div class="col-sm-12" >
				<div class="col-sm-5">
				</div>
				<div class="clearfix"></div>
				<button class='btn btn-success'>修改</button>
            </form>

            <div class="clearfix"></div>
		</div>
		

    </div>
</div>

<include file="./Application/Common/View/pagefooter.html" />

</script>