<include file="./Application/Common/View/pageheader.html" />

<div class="row">
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>单个净值编辑</h5>
            <ol class="breadcrumb pull-right">
                <li>
                    <a href="javascript:history.back(-1)"><strong>返回上一页</strong></a>
                </li>
            </ol>
        </div>
        <div class="ibox-content">
			
			<form class="form-horizontal col-sm-12" action="{:U('Product/Networth/edit')}" method='post'>
				<div class="col-sm-12">
					<input type="hidden" name="id" value="{$networth['id']}">
					<input type="hidden" name="productid" value="{$networth['productid']}">
	                <div class="form-group">
	                    <label class="col-sm-3 control-label">净值日期</label>

	                    <div class="col-sm-7">
	                        <input type="text" id='datetime' name='datetime' placeholder="YYYY-mm-dd" value="{$networth['datetime']}" class="form-control"> <span class="help-block m-b-none">请填写净值日期</span>
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-3 control-label">净值</label>

	                    <div class="col-sm-7">
	                        <input type="number" name='networth' placeholder="0.0000" step=0.0001 value="{$networth['networth']}" class="form-control"> <span class="help-block m-b-none">请填写净值,保留4位小数</span>
	                    </div>
	                </div>
				</div>
				<div class="clearfix"></div>
				<div class="from-group">
					<button class='btn btn-success'>编辑</button>
				</div>
            </form>

            <div class="clearfix"></div>
		</div>
		

    </div>
</div>

<include file="./Application/Common/View/pagefooter.html" />

<link href="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>

</script>
<script>
	$('#datetime').datepicker();
	$('#datetime').change(function(){
		$('#datetime').datepicker('option','dateFormat','yy-mm-dd');
	})

</script>
			
			